/portal/tmp/*
/portal/dist/*
/portal/node_modules/*
/portal/.env

/ws/tmp/*
/ws/dist/*
/ws/node_modules/*
/ws/.env

/workspace/tmp/*
/workspace/dist/*
/workspace/node_modules/*
/workspace/.env


/cadmin/tmp/*
/cadmin/dist/*
/cadmin/node_modules/*
/cadmin/.env

/mcp/tmp/*
/mcp/dist/*
/mcp/node_modules/*
/mcp/.env